.project_card{
    border: 1px solid #222;
    width: 24%;
    border-radius: .5em;
    margin-bottom: 2em;
}

.project_card h2{
    width: 92%;
    font-size: 1.5em;
    padding: .2em;
    background-color: #0075b8;
    color: #fff;
    margin: .5em;
}

.project_card p{
    font-size: 1.3em;
    margin: .5em;
}
.project_card p span{
    font-weight: bold;
}
.campo_sobre{
    background-color: #fff;
    border: 1px solid #000;
    width: 92%;
    margin: .8em;
    font-size: .8em;
}

.project_card button{
   padding: .5em;
    font-size: 1em;
    margin-left: .8em;
    margin-bottom: .8em;
    border: 1px solid #000;
   
}

.botao_link{
    padding: .6em;
     font-size: 1em;
     margin-left: .8em;
     margin-bottom: .8em;
     border: 1px solid #000;
     color: #000;
 }
.project_card button:hover, .botao_link:hover{
    cursor: pointer;
    color: #0075b8;
    border-color: #0075b8;
}