.navBar{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: #4d4d4d;
}

.lista{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.navBar img{
    width: 100px;
    height: 100px;
    color: #0075b8;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.item {
    font-size: 18px;
    font-weight: bold;
    margin-right: 1em;
}
.item a{
    text-decoration: none;
    color: #fefefe;
    padding: .5em;
}
.item a:hover{
    cursor: pointer;
    color: #058edd;
}


.titulo_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo_logo h1{
    font-size: 2.5em;
    color: #FFF;
    margin: auto 0;
}

.titulo_logo span{
    color: #ffffff;
    padding: 0 0.2em;
    background-color: #0075b8;
}